@import "nib/vendor"
@import "normalize"

white = #FCF2ED
black = #210001
color-second-base = #FF8B79
color-accent = #DF1D0D
color-high = #D12B13
color-middle = #FF4E0D

footer-height = 150px


font-size-em(font_size)
  font-size: (font_size)em
  font-size: (font_size)rem


html, body
  width: 100%
  height: 100%
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif

html
  font-size: 62.5%

body
  background-color: black
  color: #FF4E0D

  font-size-em 1.7


h1
  font-size-em 3.8
  line-height: 4rem
  // font-kerning normal  TODO: find a font is satisfy the conditions

h2
  font-size-em 2.9
  line-height: 2.5rem
  margin: 15px 0 10px 0

h3
  font-size-em 2.0


ul
  padding-left: 0  // clear default indent
  margin: 20px 0


li
  font-size-em 1.7
  line-height: 2.5rem
  list-style-type: none
  letter-spacing: 0.2rem
  border-bottom: solid 1px white


//a
//  &:link
//    color: color-base-text
//  &:visited
//    color: color-base-text
//  &:hover
//    color: color-linkhover
//  &:active
//    color: color-brown


button
  font-size-em 1.5
  padding: 8px 20px
  background-color: color-middle
  color: white
  font-weight: bold
  border: solid 1px white
  &:hover
    //color: color-linkhover
  &:active
    // FIXME: not cool
    background-color: lighten(color-middle, 30%)


.header
  .title
    font-size-em 4.2

#target-projects
  margin-left: 20px


#main-content
  min-width: 320px
  width: 100%
  height: auto !important
  min-height: 100%
  overflow: hidden
  position: relative

#main
  margin: 0 auto
  width: 70%
  float: right

#sub
  margin: 0 auto 0 30px
  width: 20%
  float: left
  background-color: color-high
  color: white
  padding-bottom: 10000px
  margin-bottom: -10000px

#sub:after
  display: block
  visibility: hidden
  clear: both

#build-result
  margin-top: 50px
  border: solid 1px white
  width: 70%
  min-height: 50px
  background-color: color-middle
  color: white


#footer
  height: footer-height
  position: absolute
  bottom: 0


// TODO: jsとかでトグルなアレをアレする
.clickable-li
  cursor: pointer
.clickable-li:active
  background: black
  color: white

#save-panel
  input, textarea
    display: block
  button
    display: inline-block


.growl-modal
  transition: all ease 0.5s
  opacity: 1
  background-color: color-middle
  color: white
  position: fixed
  min-width: 200px
  min-height: 100px
  top: 40%
  left: 40%
  padding: 20px
  border: 1px solid black

.growl-modal.ng-hide-add,
.growl-modal.ng-hide-remove
  display: block !important

.growl-modal.ng-hide
  background-color: black
  line-height: 0
  opacity: 0

