@import "nib/vendor"
@import "normalize"

//white = #FCF2ED
//black = #210001
//color-second-base = #FF8B79
//color-accent = #DF1D0D
//color-high = #D12B13
//color-middle = #FF4E0D

// via: https://kuler.adobe.com/HPIP-MOOC-color-theme-3454163/
white = #FDF6E3
base-color = #FFDFAE
black = #262626
color-second-base = #60988D
color-accent = #DF2809
color-high = #33123F
color-middle = #453D6E

footer-height = 150px
subcontent-width-max = 350px


font-size-em(font_size)
  font-size: unit(font_size, 'em')
  font-size: unit(font_size, 'rem')


html, body
  width: 100%
  height: 100%
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif

html
  font-size: 62.5%

body
  background-color: base-color
  color: black

  font-size-em 1.7

input
  font-size-em 1.7

textarea
  font-size-em 1.7

h1
  font-size-em 3.8
  line-height: 4rem
  color: color-high
  // font-kerning normal  TODO: find a font is satisfy the conditions

h2
  font-size-em 2.9
  line-height: 2.5rem
  margin: 15px 0 10px 0
  color: color-middle

h3
  font-size-em 2.0


ul
  padding-left: 0  // clear default indent


li
  font-size-em 1.7
  line-height: 2.5rem
  list-style-type: none
  letter-spacing: 0.2rem
  //border-bottom: solid 1px base-color


//a
//  &:link
//    color: color-base-text
//  &:visited
//    color: color-base-text
//  &:hover
//    color: color-linkhover
//  &:active
//    color: color-brown


button
  font-size-em 1.5
  padding: 10px 20px
  background-color: black
  color: base-color
  font-weight: bold
  border: solid 1px base-color
  &:hover
    //color: color-linkhover
  &:active
    // FIXME: not cool
    background-color: lighten(color-middle, 30%)
  &:disabled
    background-color: lighten(color-middle, 50%)

.header
  .title
    font-size-em 4.2

#target-projects
  margin-left: 20px


#main-content
  min-width: 320px
  width: 100%
  height: auto !important
  min-height: 100%
  overflow: hidden
  position: relative

#main
  margin: 0 auto
  width: 70%
  float: right

#sub
  margin: 0 auto
  max-width: subcontent-width-max
  width: 30%
  float: left
  background-color: black
  color: base-color
  padding-bottom: 10000px
  margin-bottom: -10000px
  .title
    color: base-color !important
#sub-container
  margin-left: 20px

#sub:after
  display: block
  visibility: hidden
  clear: both

#build-result
  margin-top: 50px
  border: solid 1px base-color
  min-height: 50px
  background-color: color-middle
  color: base-color
  pre
    width: 80%
    margin: auto


#footer
  height: footer-height
  position: absolute
  bottom: 0


//[class^="icon-"]:before
.edit-list:before
  color: color-high
  background-color: base-color
  border-radius: 20px
  margin-right: 15px !important

.accordion
  margin-top: 15px


.accordion-face
  font-size-em 2.6

input.accordion-gimmick
  // cssオンリーのアコーディンのため、checkboxには犠牲になってもらう
  display: none

input.accordion-gimmick:checked
  & ~ .accordion-innner
    overflow: visible
    opacity: 1
    height: 100%
    li
      height: 35px

.accordion-innner
  overflow: hidden
  transition-property: opacity, height
  transition-duration: 0.5s
  transition-timing-function: ease-out
  opacity: 0
  height: 0%
  margin-top: 15px
  li
    transition: height 0.5s ease-out
    height: 0px

.project-operation
  margin-top: 0
  li
    display: inline-block


// TODO: jsとかでトグルなアレをアレする
.clickable-li
  cursor: pointer
.clickable-li:active
  background: black
  color: base-color

.project-files
  position: relative
  width: subcontent-width-max - 50px
  &:hover
    width: 0
  &:after
    position: absolute
    content: attr(data-full_path)
    overflow: hidden
    width: 0
    color: base-color
    left: 0
    transition-property: box-shadow, padding, top
    transition-duration: 0.2s
    transition-timing-function: ease-in
    top: 0
    padding: 0
    box-shadow: 0px 0px 0px rgba(color-second-base, 0.1)
  &:hover:after
    padding: 5px 8px
    display: inline
    box-shadow: 2px 2px 4px rgba(color-second-base, 0.5)
    width: auto
    top: -6px
    left: 0
    background-color: color-middle
    color: white
    z-index: 998
    white-space: nowrap


#save-panel
  input[name="heading-message"]
    margin-top: 30px
    display: block
    max-width: 400px
    min-width: 280px
    width: 65%
  textarea[name="details-message"]
    margin-top: 10px
    display: block
    max-width: 600px
    min-width: 320px
    width: 80%
    height: unit(15 * 3 + 25, 'px')
  .buttons
    margin: 20px auto
    button
      display: inline-block
  button[name="cancel"]
    margin-right: 10px


.growl-modal
  transition: all ease 1s
  opacity: 1
  background-color: color-middle
  color: base-color
  position: fixed
  z-index: 999
  border: 1px solid color-high

.growl-modal.ng-hide-add,
.growl-modal.ng-hide-remove
  display: block !important

.growl-modal.ng-hide
  background-color: black
  line-height: 0
  opacity: 0

.boxlike
  min-width: 200px
  min-height: 100px
  top: 40%
  left: 40%
  padding: 20px

.beltlike
  width: 100%
  min-height: 100px
  top: 40%
  left: 0%
  padding: 20px 0
  margin: auto


.invisible
  display: none

.modal-close-button:before
  padding-left: 10px

::-moz-selection
    background: color-accent
    color: base-color

::selection
    background: color-accent
    color: base-color
